* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-erif;
}

:root {
  --primary: #70AFCE;
  --primaryDark: #3A7B99;
  --primaryLight: #A5DEF1;
  --white: #FFFFFF
}